# Manim outputs
**/media/
**/partial_movie_files/
**/frames_debug/
media/
content/**/media/

# Compiled Python files
**/__pycache__/
*.pyc

# Local cache / virtual environment
.venv/
.cache/
.local/
fontconfig/

# Audio formats
*.mp3
*.wav
*.ogg
*.m4a
*.flac

# Video formats
*.mp4
*.mov
*.webm
*.avi
*.mkv

# Image formats
*.png
!content/chapter2/scene_2.2/assets/*_crop.png
!content/chapter2/scene_2.3/assets/*_crop.png
!content/chapter2/scene_2.4/assets/*_crop.png
!content/chapter3/scene_3.2/assets/*.png
*.jpg
*.jpeg
*.gif

# System files
.DS_Store
